* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #efefef;
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calc-container {
  display: grid;
  background-color: grey;
}

.display {
  display: grid;
  padding: 16px;
  justify-content: end;
  background-color: grey;
  font-size: 26px;
  font-weight: 300;
  color: white;
}

.digits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.press-btn,
.press-btn-1,
.press-btn-2 {
  border: 1px solid #d2d2d2;
  padding: 15px 30px;
  font-size: 16px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.press-btn-2 {
  grid-column: 1 / span 2;
}

.amber {
  background-color: orange;
}

.press-btn.amber:hover {
  background-color: peachpuff;
}

.press-btn:hover,
.press-btn-1:hover,
.press-btn-2:hover {
  background-color: #d2d2d2;
}
