* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: peachpuff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;
}

.c-container {
  display: grid;
  background-color: grey;
}

.display {
  display: grid;
  padding: 16px;
  justify-content: end;
  background-color: grey;
  font-size: 26px;
  font-weight: 300;
  color: white;
}

.digits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.press-btn,
.press-btn-1,
.press-btn-0 {
  border: 1px solid #d2d2d2;
  padding: 15px 30px;
  font-size: 16px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.press-btn-0 {
  grid-column: 1 / span 2;
}

.amber {
  background-color: orange;
}

.press-btn.amber:hover {
  background-color: peachpuff;
}

.press-btn:hover,
.press-btn-1:hover,
.press-btn-2:hover {
  background-color: #d2d2d2;
}

.Heading,
.Heading-1 {
  padding: 20px 20px;
}

.Heading-2 {
 padding-right: 100px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
  padding-right: 50px;
  margin-top: -50px;
  font-size: 1.2rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-links a:hover {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.Description {
  width: 100%;
  padding: 100px;
  font-size: 1.2rem;
}

.Description-q {
  text-align: center;
  padding: 250px;
  width: 100%;
  font-size: 1.7rem;
  font-weight: 600;

}
